
.containerCarousel{
   display: flex;
   flex-direction: row;
   width: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 50px;
   
   
}
.firstCarousel{
    width: 60%;
    height: 80%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.images{
    width: 100%;

}
.secondCarousel{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.images1{
    margin-left: 15px;
    width: 100%;
    height: 80%;
}