.boxCategory{
    
    display: flex;
    width: 60%;
    flex-direction: column;
    margin-top: 60px;
    
}
.card{
    display: flex;
    background:#F6F6F6;
    gap: 0.5rem;
    padding: 30px;

}
.imageCategory{
    border-radius: 100%;
    background-size: cover;
    width: 130px;
    margin-bottom: 20px;
 object-fit: cover;
    
}
.cardCategory{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: white;
    color: rgb(55, 55, 55);
}

h2{
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}